<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="LoginTest">
    <classes>
      <class name="ru.stqa.selenium.LoginTest"/>
    </classes>
  </test>
  <test name="AddMovieTest">
    <classes>
      <class name="ru.stqa.selenium.AddMovieTest"/>
    </classes>
  </test>
  <test name="DeleteMovieTest">
    <classes>
      <class name="ru.stqa.selenium.DeleteMovieTest"/>
    </classes>
  </test>
  <test name="SearchMovieTest">
    <classes>
      <class name="ru.stqa.selenium.SearchMovieTest"/>
    </classes>
  </test>
</suite>